body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1080px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:1848px;
  width:1080px;
  height:374px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:374px;
}
#u1 {
  position:absolute;
  left:2px;
  top:179px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:370px;
  top:2162px;
  width:341px;
  height:37px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:37px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:270px;
  top:-247px;
  width:557px;
  height:507px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:507px;
}
#u5 {
  position:absolute;
  left:2px;
  top:246px;
  width:553px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:168px;
  top:88px;
  width:202px;
  height:72px;
  font-size:72px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:72px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:723px;
  top:88px;
  width:209px;
  height:72px;
  font-size:72px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:72px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:0px;
  top:2120px;
  width:1080px;
  height:230px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:230px;
}
#u11 {
  position:absolute;
  left:2px;
  top:107px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:78px;
  top:2164px;
  width:50px;
  height:50px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u13 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:146px;
  top:2164px;
  width:50px;
  height:50px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u15 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:60px;
  top:2223px;
  width:158px;
  height:21px;
  font-size:18px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:21px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:77px;
  top:2250px;
  width:48px;
  height:16px;
  font-size:14px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:77px;
  top:2268px;
  width:38px;
  height:16px;
  font-size:14px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:77px;
  top:2286px;
  width:69px;
  height:16px;
  font-size:14px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:340px;
  top:2167px;
  width:300px;
  height:139px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:139px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:720px;
  top:2167px;
  width:300px;
  height:139px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:139px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:229px;
  width:270px;
  height:77px;
  font-size:28px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:77px;
}
#u29 {
  position:absolute;
  left:2px;
  top:22px;
  width:266px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:270px;
  top:229px;
  width:270px;
  height:77px;
  font-size:28px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:77px;
}
#u31 {
  position:absolute;
  left:2px;
  top:22px;
  width:266px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:540px;
  top:229px;
  width:270px;
  height:77px;
  font-size:28px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:77px;
}
#u33 {
  position:absolute;
  left:2px;
  top:22px;
  width:266px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:810px;
  top:229px;
  width:270px;
  height:77px;
  font-size:28px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:77px;
}
#u35 {
  position:absolute;
  left:2px;
  top:22px;
  width:266px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:680px;
  width:1080px;
  height:420px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:420px;
}
#u37 {
  position:absolute;
  left:2px;
  top:202px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:0px;
  top:306px;
  width:1080px;
  height:374px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:374px;
}
#u39 {
  position:absolute;
  left:2px;
  top:179px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:202px;
  top:792px;
  width:676px;
  height:234px;
  font-size:14px;
  line-height:18px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  height:234px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:676px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:209px;
  top:754px;
  width:27px;
  height:42px;
  font-size:36px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:42px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:240px;
  top:757px;
  width:638px;
  height:36px;
  font-size:14px;
  line-height:18px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  height:36px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:638px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:370px;
  top:620px;
  width:341px;
  height:37px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:37px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:0px;
  top:1100px;
  width:1080px;
  height:374px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:374px;
}
#u49 {
  position:absolute;
  left:2px;
  top:179px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:370px;
  top:1414px;
  width:341px;
  height:37px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:37px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:0px;
  top:1474px;
  width:1080px;
  height:374px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:374px;
}
#u53 {
  position:absolute;
  left:2px;
  top:179px;
  width:1076px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:370px;
  top:1788px;
  width:341px;
  height:37px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:37px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  white-space:nowrap;
}
