body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:750px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:177px;
  top:70px;
  width:390px;
  height:355px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:355px;
}
#u1 {
  position:absolute;
  left:2px;
  top:170px;
  width:386px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:136px;
  top:400px;
  width:202px;
  height:72px;
  font-size:72px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:72px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:398px;
  top:400px;
  width:209px;
  height:72px;
  font-size:72px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:72px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:0px;
  top:569px;
  width:375px;
  height:351px;
  font-size:28px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:351px;
}
#u7 {
  position:absolute;
  left:2px;
  top:160px;
  width:371px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:920px;
  width:375px;
  height:413px;
  font-size:28px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:413px;
}
#u9 {
  position:absolute;
  left:2px;
  top:190px;
  width:371px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:375px;
  top:569px;
  width:375px;
  height:351px;
  font-size:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:351px;
}
#u11 {
  position:absolute;
  left:2px;
  top:160px;
  width:371px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:375px;
  top:920px;
  width:375px;
  height:413px;
  font-size:28px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:413px;
}
#u13 {
  position:absolute;
  left:2px;
  top:190px;
  width:371px;
  word-wrap:break-word;
}
