body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:790px;
  top:307px;
  width:1030px;
  height:740px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:740px;
}
#u1 {
  position:absolute;
  left:2px;
  top:362px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:683px;
  top:-240px;
  width:557px;
  height:507px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:557px;
  height:507px;
}
#u3 {
  position:absolute;
  left:2px;
  top:246px;
  width:553px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:556px;
  top:88px;
  width:197px;
  height:82px;
  font-size:72px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:82px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:1190px;
  top:88px;
  width:209px;
  height:82px;
  font-size:72px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:82px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:100px;
  top:307px;
  width:690px;
  height:740px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:740px;
}
#u9 {
  position:absolute;
  left:2px;
  top:362px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:960px;
  top:487px;
  width:645px;
  height:413px;
  font-size:14px;
  line-height:18px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  height:413px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:966px;
  top:450px;
  width:27px;
  height:42px;
  font-size:36px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:42px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:996px;
  top:455px;
  width:608px;
  height:36px;
  font-size:14px;
  line-height:18px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:36px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:960px;
  top:390px;
  width:341px;
  height:37px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:37px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:790px;
  top:1047px;
  width:1030px;
  height:740px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:740px;
}
#u19 {
  position:absolute;
  left:2px;
  top:362px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:100px;
  top:1047px;
  width:690px;
  height:740px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:740px;
}
#u21 {
  position:absolute;
  left:2px;
  top:362px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:960px;
  top:1227px;
  width:645px;
  height:413px;
  font-size:14px;
  line-height:18px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  height:413px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:966px;
  top:1190px;
  width:27px;
  height:42px;
  font-size:36px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:42px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:996px;
  top:1195px;
  width:608px;
  height:36px;
  font-size:14px;
  line-height:18px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:36px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:960px;
  top:1130px;
  width:341px;
  height:37px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:37px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:790px;
  top:1786px;
  width:1030px;
  height:740px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:740px;
}
#u31 {
  position:absolute;
  left:2px;
  top:362px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:100px;
  top:1786px;
  width:690px;
  height:740px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:740px;
}
#u33 {
  position:absolute;
  left:2px;
  top:362px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:960px;
  top:1966px;
  width:645px;
  height:413px;
  font-size:14px;
  line-height:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  height:413px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:966px;
  top:1929px;
  width:27px;
  height:42px;
  font-size:36px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:42px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:996px;
  top:1934px;
  width:608px;
  height:36px;
  font-size:14px;
  line-height:18px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:36px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:960px;
  top:1869px;
  width:341px;
  height:37px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:37px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:790px;
  top:2526px;
  width:1030px;
  height:740px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1030px;
  height:740px;
}
#u43 {
  position:absolute;
  left:2px;
  top:362px;
  width:1026px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:100px;
  top:2526px;
  width:690px;
  height:740px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:740px;
}
#u45 {
  position:absolute;
  left:2px;
  top:362px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:960px;
  top:2706px;
  width:645px;
  height:413px;
  font-size:14px;
  line-height:18px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  height:413px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:966px;
  top:2669px;
  width:27px;
  height:42px;
  font-size:36px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:42px;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u50 {
  position:absolute;
  left:996px;
  top:2674px;
  width:608px;
  height:36px;
  font-size:14px;
  line-height:18px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  height:36px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:608px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:960px;
  top:2609px;
  width:341px;
  height:37px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  height:37px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:341px;
  white-space:nowrap;
}
#u54 {
  position:absolute;
  left:100px;
  top:2750px;
  width:1720px;
  height:230px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1720px;
  height:230px;
}
#u55 {
  position:absolute;
  left:2px;
  top:107px;
  width:1716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:548px;
  top:2795px;
  width:50px;
  height:50px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u57 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:616px;
  top:2795px;
  width:50px;
  height:50px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u59 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:530px;
  top:2854px;
  width:158px;
  height:21px;
  font-size:18px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  height:21px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:158px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:547px;
  top:2881px;
  width:48px;
  height:16px;
  font-size:14px;
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:16px;
}
#u63 {
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  white-space:nowrap;
}
#u64 {
  position:absolute;
  left:547px;
  top:2899px;
  width:38px;
  height:16px;
  font-size:14px;
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:16px;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  white-space:nowrap;
}
#u66 {
  position:absolute;
  left:547px;
  top:2917px;
  width:69px;
  height:16px;
  font-size:14px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:16px;
}
#u67 {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  white-space:nowrap;
}
#u68 {
  position:absolute;
  left:810px;
  top:2798px;
  width:300px;
  height:139px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:139px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:1190px;
  top:2798px;
  width:300px;
  height:139px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:139px;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:-20px;
  top:2979px;
  width:1940px;
  height:310px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1940px;
  height:310px;
}
#u73 {
  position:absolute;
  left:2px;
  top:147px;
  width:1936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:100px;
  top:230px;
  width:430px;
  height:77px;
  font-size:28px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:77px;
}
#u75 {
  position:absolute;
  left:2px;
  top:22px;
  width:426px;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:530px;
  top:230px;
  width:430px;
  height:77px;
  font-size:28px;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:77px;
}
#u77 {
  position:absolute;
  left:2px;
  top:22px;
  width:426px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:960px;
  top:230px;
  width:430px;
  height:77px;
  font-size:28px;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:77px;
}
#u79 {
  position:absolute;
  left:2px;
  top:22px;
  width:426px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:1390px;
  top:230px;
  width:430px;
  height:77px;
  font-size:28px;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:430px;
  height:77px;
}
#u81 {
  position:absolute;
  left:2px;
  top:22px;
  width:426px;
  word-wrap:break-word;
}
